.left-half {
    background-color: #f8f9fa; /* Light background for visual separation */
    height: 100vh;
}

.right-half {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-container {
    width: 80%;
}