body {
    background-color: #f8f9fa; /* Light background for the entire page */
}

.card {
    border-radius: 15px;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

.btn-primary {
    transition: background-color 0.3s ease-in-out;
}

.btn-primary:hover {
    background-color: #0056b3; /* Darker shade for hover effect */
}

body {
    background-color: #D0F0C0 /* Light gray background */
}

